* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    color: black;
    font-family: 'Manrope', sans-serif;

}

.container {

    width: 100%;

    height: 85%;
    text-align: center;
    margin: auto;
    padding: 10px;

}

#main {
    display: none;
}

.closebtn {
    display: none;
}

.header {
    display: flex;
    width: 100%;
    height: 10%;
    margin: auto;
    align-items: center;
    margin-bottom: 25px;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    width: 80%;
    color: rgb(49, 46, 46);
    margin-left: 8rem;
}

.logo-sec {

    width: 10%;
    margin-top: 10px;
    margin-right: 3px;


}

.logo img {
    width: 40px;
    height: 40px;

}

.email {
    background-color: rgb(254, 203, 51);
    font-size: 13px;
    font-weight: 500;
    width: 80%;
    margin: auto;
    border-radius: 8px;
    margin-top: 5px;
    padding: 2px;
}


.box {

    width: 50%;
    height: 85%;
    display: flex;
    margin: auto;
    align-items: center;
    text-align: start;
    padding: 25px;
    border-radius: 20px;
    border: 2px solid rgb(207, 205, 205);

}

/* scrollbar setting */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(230, 229, 229);
    border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 197, 22);
}

.text-sec {

    width: 60%;
    height: 100%;
    padding-bottom: 10px;
    overflow: scroll;
    white-space: nowrap;




    ;
}

.text-sec .title {
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin: auto;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.text-sec .list {

    margin: auto;
    list-style: none;

}

ul li {

    list-style: none;
    padding: 5px;

}

.view {
    position: absolute;
    padding: 6px 30px;
    border-radius: 15px;
    border: 2px solid transparent;
    background-color: rgb(227, 221, 221);
    bottom: 23%;
    left: 35%;


}

.box-sec {

    width: 40%;
    height: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.box-1 {

    height: 30%;
    width: 80%;
    border-radius: 18px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 22px 0;
    border: 1px solid black;
}

.box-2 {


    height: 30%;
    width: 80%;
    border-radius: 18px;
    border-radius: 18px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 22px 0;
    border: 1px solid black;
}

.box-3 {

    display: flex;
    flex-direction: column;
    height: 30%;
    width: 95%;
    border-radius: 18px;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;
    font-size: 10px;
    border: 1px solid rgb(89, 88, 88);

}

.box-3 h3 {
    margin-top: 15px;
    font-weight: bolder;
}


.box-3 input {
    border: none;
    width: 40%;
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
}

.box-3 form {

    height: 30%;
    width: 80%;
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 10px;
    font-weight: bolder;
}

.button {

    width: 65%;
    margin-left: 6.5rem;
    margin-top: 3.5rem;

}

.edit {
    padding: 1px 25px;
    border-radius: 20px;
    border: 1px solid black;
}

.rename {
    padding: 2px 15px;
    border-radius: 20px;
    border: 1px solid rgb(97, 96, 96);
}




.left-line {
    position: absolute;
    border: 1px solid gray;
    width: 2.3%;
    height: 2px;
    left: 23%;
    bottom: 62%;

}

.left-column-line {
    position: absolute;
    left: 20.4%;
    top: 12%;
}

.line1 {
    border-right: 2px solid gray;
    height: 181px;
    width: 20px;
}

.line2 {
    border-right: 2px solid gray;
    height: 230px;
    width: 20px;
}

.line3 {
    border-right: 2px solid gray;
    height: 190px;
    width: 19px;
}




.bottom-sec {
    /* background-color: blue; */
    width: 25%;
    height: 8%;
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
}

.support {
    width: 20%;
    height: 4%;
    background-color: #f2abb7;
    align-items: center;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding-top: 8px;
    border-radius: 0 0 18px 18px;
    position: absolute;
    margin-left: 2.3rem;
    font-size: 14px;
    font-weight: 500;






}

.email-support {
    width: 80.2%;
    height: 53%;
    background-color: white;
    margin: auto;
    text-align: center;
    padding-top: 4px;
    border-radius: 18px;
    border: 2px solid rgb(216, 215, 215);
    position: relative;
    bottom: -25px;
    z-index: -1;
    font-weight: bold
}






.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0.9;
    background-color: #eae9ea;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #6f6e6c;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

}

.openbtn {
    font-size: 20px;
    cursor: pointer;

    color: black;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: transparent;
    color: transparent;
}

#main {
    position: absolute;
    transition: margin-left .5s;
    padding: 16px;
}



/* RESPONSIVE */

/* Media query for tablet view */
@media (max-width: 768px) {

    #sidebar {
        position: fixed;

        left: -30%
    }

    #main {
        display: block;
    }

    #column {
        display: none;
    }

    .closebtn {
        display: block;
    }



    .container {
        width: 100%;
        font-size: 70%;
        margin: 0;


    }

    .header {

        width: 100%;
        padding: 0;
        height: 10%;
        justify-content: space-between;
    }


    .title {
        font-size: 2rem;
        margin-left: 4rem;
    }

    .logo-sec {
        width: 10%;

        text-align: center;

    }

    .name {

        font-size: 18px;

    }

    .email {
        display: none;
    }

    .left-column-line {
        display: none;
    }

    .content {
        width: 100%;
        height: 40%;
        margin: auto;

    }

    .box {
        width: 80%;
        flex-direction: column-reverse;
        border: 1px solid rgb(238, 237, 237)
    }

    .box-sec {
        flex-direction: row;

        width: 100%;
        height: 70%;
        flex-wrap: wrap;
        margin: 0;

    }

    .box-1 {
        border: 2px solid rgb(168, 163, 163);
        width: 48%;
        height: 40%;
    }

    .box-1 p,
    .box-2 p {
        font-size: 23px;
        font-weight: bold;
    }

    .box-1 h1,
    .box-2 h1 {
        font-size: 40px;
        font-weight: bold;
    }

    .box-2 {
        width: 48%;
        height: 40%;
        border: 2px solid rgb(168, 163, 163);

    }

    .box-3 {
        padding: 20px;
        padding-bottom: 30px;
        width: 100%;
        height: 48%;

        border: 2px solid rgb(168, 163, 163);
        font-size: 20px;
        align-items: start;
    }

    .box-3 p {
        font-size: 20px;
        align-items: start;
    }


    .button {
        width: 63%;
        margin-left: 13rem;
        margin-top: 4rem;
        height: 38%;
        padding-bottom: 10px;
    }


    .edit {
        padding: 3px 48px;
        font-size: 18px;
    }

    .rename {
        padding: 3px 35px;
        font-size: 18px;
    }


    .text-sec {
        width: 100%;
        height: 85%;
        border: 2px solid rgb(207, 203, 203);
        border-radius: 20px;
        overflow: scroll;
        padding: 8px 20px;
        margin-top: 1rem;

    }

    .text-sec .title {
        margin-bottom: 10px;
        margin-left: 3px;
    }

    .text-sec .list {

        font-size: 20px;


        margin: auto;
        list-style: none;

    }

    ul li {

        padding: 6px;


    }


    .view {
        display: none;
    }

    .enterprize-plane {
        width: 30%;
        float: right;
        text-align: center;
    }

    .add-site {
        width: 30%;
    }

    table {
        margin-top: 1.5rem;
    }

    tr th {

        font-size: 14px;
    }

    tr td {
        font-size: 14px !important;
    }

    .left-line {
        display: none;
    }

    .bottom-sec {
        width: 60%;
        text-align: center;
        margin-top: 2.5rem;

    }

    .support {
        width: 39%;
        margin-left: 4.8rem;
        font-size: 15px;
        padding-top: 15px;
    }

    .email-support {
        width: 65%;
        padding-top: 10px;
        font-size: 14px;
    }
}



/* Media query for mobile view */
@media (max-width: 480px) {
    .title {
        font-size: 20px;
    }

    .header {

        width: 100%;
        height: 10%;
        padding-right: 10px;
    }

    .name {
        font-size: 10px;
    }

    .email {
        display: none
    }

    ;

    .box {
        width: 80%;
        flex-direction: column-reverse;


    }

    .box-sec {
        height: 60%;

    }

    .box-1 {

        width: 48%;
        height: 40%;

    }

    .box-1 p,
    .box-2 p {
        font-size: 12px;
        font-weight: bold;
    }

    .box-1 h1,
    .box-2 h1 {
        font-size: 20px;
        font-weight: bold;
    }

    .box-2 {
        width: 48%;
        height: 40%;


    }

    .box-3 {
        padding: 10px;
        padding-bottom: 30px;
        width: 100%;
        height: 55%;

        font-size: 13px;
    }

    .box-3 p {
        font-size: 12px;
        align-items: start;

    }

    .box-3 h3 {
        margin-top: 30px;
    }


    .button {
        width: 63%;
        margin-left: 7rem;

        height: 35%;

    }


    .edit {
        padding: 3px 28px;
        font-size: 11px;
    }

    .rename {
        padding: 3px 18px;
        font-size: 12px;
    }


    .text-sec {
        margin-top: 1rem;
        border: 2px solid rgb(187, 183, 183);
        margin-bottom: 30px;

    }

    .text-sec .title {
        font-size: 20px;
    }

    .text-sec .list {

        font-size: 13px;
    }

    .container {
        width: 100%;
        font-size: 70%;
        margin: 0;

    }

    #main {
        display: block;
    }

    #column {
        display: block;
    }

    .closebtn {
        display: block;
    }

    .box {
        width: 100%;
    }

    .add-site {
        width: 100%;
        font-size: 16px;

    }

    .enterprize-plane {
        display: none;
    }

    .bottom-sec {

        margin-top: 1.5rem;
    }


    .support,
    .email-support {
        font-size: 9px;


    }

    .email-support {
        width: 83%;
        padding-top: 10px;
    }

    .support {
        width: 50%;
        word-wrap: break-word;
        margin-left: 1rem;
        ;

    }

    .web {
        margin-top: 3rem;
    }




}







/* scroll */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}